body {
    font-family:system-ui,"Segoe UI","Open Sans","Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #f54a00;
    --sec-color:#ff6900;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/* fonts size */
.fs-1-5 {
    font-size: 1.5rem;
}
.fs-1-25 {
    font-size: 1.25rem;
}
.fs-1-125 {
    font-size: 1.125rem;
}
.fs-875 {
    font-size: 0.875rem;
}
.fs-75 {
    font-size: 0.75rem;
}
/* Navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-bottom: #ffedd4 1px solid;
}

.navbar-brand .main-logo {
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to bottom right, var(--sec-color), #fb2c36);
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.navbar-brand h1 {
    font-size: 1.125rem;
    line-height: 28px;
    color: #101828;
}

.navbar-brand p {
    font-size: 0.75rem;
    line-height: 16px;
    color: #6a7282;
}

.navbar-button {
    color: #4a5565;
    background-color: #ffffff;
    transition: all 0.15s;
}

.navbar-button:hover {
    color: var(--main-color);
}

.nav-icon i {
    color: #4a5565;
    transition: all 0.15s;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-icon i:hover {
    color: var(--main-color);
}

.profile-img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.profile-img img,
.profile-img-mob img {
    border: 2px solid #ffb86a;
}

/* Mobile Navbar */
#navbarSupportedMobile.collapse.navbar-collapse {
    background-color: #ffffff;
    border-bottom: 1px solid #ffedd4;
    box-shadow: 0 4px 6px -4px #0000001a, 0 2px 4px -2px #0000001a;
}

ul#navbarSupportedMobilestyle.navbar-nav {
    border-top: 1px solid #ffedd4;
}

.navbar-nav .nav-link-mob {
    color: #4a5565;
    transition: all 0.15s;
}

.navbar-nav .nav-item-mob:hover .nav-link-mob {
    color: var(--main-color);
}

.profile-img-mob {
    width: 2rem;
    height: 2rem;
}

/* Meals Section  */
#main {
    padding-block: 2rem;
}

.meal-section {
    border: 1px solid #ffedd4;
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}

@media (min-width: 1024px) {
    .meal-section {
        height: 46.875rem;
    }

    .img-container {
        height: 25rem;
    }
}

.scorll {
    overflow-y: auto;
    height: 100%;
}

.scorll::-webkit-scrollbar {
    width: 6px;
}

.scorll::-webkit-scrollbar-thumb {
    background-color: #ffdbd2;
    border-radius: 10px;
}

.scorll::-webkit-scrollbar-thumb:hover {
    background-color: #cc9789;
}

#meal-rating {
    top: 24px;
    left: 24px;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

#meal-rating i {
    color: #fdc700;
    font-size: 0.875rem;
}

#meal-rating #rating-average {
    color: #101828;
    font-size: 0.875rem;
}

#meal-rating #rating-total-review {
    color: #6a7282;
    font-size: 0.75rem;
}

#meal-info-num {
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    background-color: rgba(255, 255, 255, 0.95);
    bottom: 24px;
    left: 24px;
    right: 24px;
    backdrop-filter: blur(8px);
}

#meal-info-num div i {
    font-size: 1.125rem;
}

#meal-info-num div:nth-child(1) i {
    color: var(--sec-color);
}

#meal-info-num div:nth-child(2) i {
    color: #fb2c36;
}

#meal-info-num div:nth-child(3) i {
    color: #2b7fff;
}

#meal-info-num div p:nth-child(2) {
    color: #6a7282;
    font-size: 0.75rem;
}

#meal-info-num div p:nth-child(3) {
    color: #101828;
    font-size: .875rem;
}

#meal-difficulty {
    color: #008235;
    background-color: #dbfce7;
}

#meal-category {
    color: #1447e6;
    background-color: #dbeafe;
}

#meal-name {
    color: #101828;
    font-size: 1.5rem;
}

#meal-description {
    color: #4a5565;
    font-size: 0.875rem;
}

.help-icons div {
    width: 3rem;
    height: 3rem;
    background-color: #ffedd4;
    color: var(--main-color);
    cursor: pointer;
    transition: all 0.15s;
}

.help-icons div:hover {
    background-color: #ffd7a8;
}

#pills-tab .nav-item {
    flex: 1;
    min-width: 0;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link {
    color: #6a7282;
    font-size: 0.75rem;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.nav-link:hover {
    color: #364153;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

#pills-tabContent {
    border-block: 1px solid #e6e8ec;
}

#pills-nutrition,
#pills-instructions,
#pills-ingredients,
#pills-tips {
    height: 21.875rem;
}

#pills-ingredients {
    background-image: linear-gradient(to bottom right, #fff7ed, #fffbeb);
}

#pills-ingredients::-webkit-scrollbar,
#pills-instructions::-webkit-scrollbar,
#pills-nutrition::-webkit-scrollbar,
#pills-tips::-webkit-scrollbar {
    width: 6px;
}

#pills-ingredients::-webkit-scrollbar-thumb,
#pills-instructions::-webkit-scrollbar-thumb,
#pills-nutrition::-webkit-scrollbar-thumb,
#pills-tips::-webkit-scrollbar-thumb {
    background-color: #ffe5de;
    border-radius: 10px;
    transition: all 0.15s;
}

#pills-ingredients::-webkit-scrollbar-thumb:hover,
#pills-instructions::-webkit-scrollbar-thumb:hover,
#pills-nutrition::-webkit-scrollbar-thumb:hover,
#pills-tips::-webkit-scrollbar-thumb:hover {
    background-color: #cc9789;
}

#ingredients-list div {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--sec-color);
}

#ingredients-list span {
    color: #364153;
}

#instructions-list div div:nth-child(1) {
    width: 3rem;
    height: 3rem;
    background-color: var(--sec-color);
}

#instructions-lis p {
    color: #364153;
}

.nutrition-card {
    background-color: #f9fafb;
}

.nutrition-card div div {
    width: 2.5rem;
    height: 2.5rem;
}

#pills-nutrition div div:nth-child(1) .nutrition-card div div {
    background-color: #ffedd4;
    color: #f54900;
}

#pills-nutrition div div:nth-child(2) .nutrition-card div div {
    background-color: #dbeafe;
    color: #155dfc;
}

#pills-nutrition div div:nth-child(3) .nutrition-card div div {
    background-color: #fef9c2;
    color: #d08700;
}

#pills-nutrition div div:nth-child(4) .nutrition-card div div {
    background-color: #ffe2e2;
    color: #e7000b;
}

#pills-nutrition div div:nth-child(5) .nutrition-card div div {
    background-color: #dbfce7;
    color: #00a63e;
}

#pills-nutrition div div:nth-child(6) .nutrition-card div div {
    background-color: #fce7f3;
    color: #e60076;
}

.nutrition-card div span {
    color: #4e5868;
    font-size: 0.75rem;
}

.nutrition-card .nutrition-value {
    color: #101828;
    font-size: 1rem;
}

#tips-list>div {
    background-color: #fffbeb;
    border-left: 4px solid #ffb900;
}

#tips-list>div i {
    color: #e17100;
}

#tips-list>div p {
    color: #5b636f;
}

.btn-another-meal {
    background-image: linear-gradient(to right, var(--sec-color), #fb2c36);
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
    border: 0;
    font-size: 0.875rem;
    transition: all 0.15s;
}

.btn-another-meal:hover {
    background-image: linear-gradient(to right, var(--main-color), #e7000b);
    box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
    border: 0;
    transform: scale(1.05);
}

/* warning maessage */
#time-warning {
    background-color: #fef2f2;
    border-left: 4px solid #fa2c36;
}

#time-warning i {
    color: #fb2c36;
}

#time-warning div div p:nth-child(1) {
    color: #9f0712;
    font-size: 0.875rem;
}

#time-warning div div p:nth-child(2) {
    color: #e7000b;
    font-size: 0.75rem;
}

@media (min-width: 48rem) {
    .navbar-brand h1,#meal-info-num div i {
        font-size: 1.5rem;
    }

    .navbar-brand p, #meal-rating #rating-total-review,#meal-info-num div p:nth-child(2),#time-warning div div p:nth-child(2) {
        font-size: 0.875rem;
    }

    .nav-icon i,#meal-rating i,
    #meal-rating #rating-average ,#meal-info-num div p:nth-child(3), .nav-pills .nav-link.active,
        .nav-pills .nav-link,.nutrition-card div span,.btn-another-meal,#time-warning div div p:nth-child(1){
        font-size: 1rem;
    }

    #meal-name {
        font-size: 2.25rem;
    }

    #meal-description {
        font-size: 1.125rem;
    }
    .nutrition-card .nutrition-value {
        font-size: 1.25rem;
    }
}